* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  border: 4px solid black;
  /* width: 100vw; */
}

.input-container {
  width: 40vw;
  background-color: beige;
  overflow: scroll;
}

.output-container {
  width: 60vw;
  background-color: bisque;
}

.output-container,
.input-container {
  height: 100vh;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-container > label {
  padding: 10px;
}

input,
textarea {
  background: transparent;
  border: 2px solid rgb(156, 156, 142);
  border-radius: 10px;
}

input:focus,
textarea:focus {
  outline: 4px solid violet;
}

input {
  padding: 10px;
}

.btn-container {
  /* border: 1px solid black; */
  justify-content: flex-end;
  display: flex;
  margin-top: 20px;
}

.button {
  padding: 5px 20px;
  min-width: 100px;
  background-color: rgb(33, 227, 33);
  color: rgb(126, 66, 66);
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: rgb(23, 154, 23);
  color: rgb(255, 255, 255);
}